.chats {
  
  height: 100%;

 }

.userChat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(27, 27, 27);
    cursor: pointer;
    font-size: 20px;
}

.userChat:hover {
      background-color: blue;
      color: white;
    }

    .userChat img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .userChat .userChatInfo p {
        font-size: 14px;
        color: rgb(60, 59, 59);
      }

    .userChat .userChatInfo span {
        font-size: 18px;
        font-weight: 500;
      }
  