.friends{

  flex:6;
  margin-top:6px;
  font-size: 20px;
  
}
.header{
    font-size: 20px;
    
}
.Single_friend{
    display:flex;
    align-items:center;
    margin-bottom:15px;
    color:black;
   
 }
 .imgp{
     width:32px;
     height:32px;
     border-radius:50%;
     object-fit:cover;
     margin-right:10px;
 }