
.rightpanel{
    flex:3;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height:100vh;
    margin:10px;
    background:#7ad6d0;

}
.action{
    position: fixed;
    top: 10px;

}

.prof{
    /* position: relative; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.tiktok{
    justify-content: center;
    width: 300px;
    height: 500px;
    top: 80px;
    right: 28px;
    border: 1px solid #000;
    position: absolute;
    
    border-radius: 5%;
}

.videos{
    width: 100%;
    height: 65%;
    border-radius: 5%;
    background-color: #464343;
    text-align: center;
    z-index:0;
    position: absolute;
}

.views{
    position: absolute;
    width: 80%;
    height: 10%;
    top: 60%;
    left: 10%;
    border-radius: 20%;
    background-color: #313035;
    text-align: center;
    z-index: 2;
}

.comments{
    position: absolute;
    width: 100%;
    height: 30%;
    top: 60%;
    background:white;
    text-align: center;
    z-index: -1;
}
.comment{
    position: absolute;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    height: 10%;
    top: 90%;
    background-color: #2A8AC0;
    text-align: center;
}
.menu{
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 250px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
   border: 2px solid #000;
    visibility: hidden;
    /* opacity: 1;  */
}

.menu.active{
    top: 80px;
    visibility:visible;
    transition: 0.5s;
    /* opacity: 1; */
}
.menu::before{
    content: "";
    position: absolute;
    top: -5px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: #fff;
    /* border:2px solid #000; */
    transform: rotate(45deg);
}

.h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 16px;
    color: #555;
    line-height: 1.2em;
}

.spanp{
    font-size: 12px;
    color: #cecece;
    font-weight: 400;
}

.ul .li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.ul .li .img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;

}

.ul .li:hover .img{
    opacity: 1;
}

.ul .li .a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.ul .li:hover .a{
    color:#fff5d9 ;
}