.register{
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    background:rgb(23, 69, 46);
}

.container{
    height: 75vh;
    width: 70%;
    background: rgb(223,221,221);
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: 0.5rem white;
}